*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-form{
    display: grid;
}
#username{
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="currentColor"><path d="M20 22H4V20C4 17.2386 6.23858 15 9 15H15C17.7614 15 20 17.2386 20 20V22ZM12 13C8.68629 13 6 10.3137 6 7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7C18 10.3137 15.3137 13 12 13Z"></path></svg>');
    background-repeat: no-repeat;
    text-align: center;
    padding: 5px;
}
#password{
    margin-top: 20px;
    margin-bottom: 10px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="currentColor"><path d="M17 14H12.6586C11.8349 16.3304 9.61244 18 7 18C3.68629 18 1 15.3137 1 12C1 8.68629 3.68629 6 7 6C9.61244 6 11.8349 7.66962 12.6586 10H23V14H21V18H17V14ZM7 14C8.10457 14 9 13.1046 9 12C9 10.8954 8.10457 10 7 10C5.89543 10 5 10.8954 5 12C5 13.1046 5.89543 14 7 14Z"></path></svg>');
    background-repeat: no-repeat;
    text-align: center;
    padding: 5px;
}

#btns{
    display: flex;
    flex-direction: column;
    
}
.Log-btn{
    border: none;
    background-color: green;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 20px;
}
.Log-btn:hover{
    background-color: darkgreen;
}
#forgotten{font-size: x-small;
    color: blue;
    text-align: end;
    margin-bottom: 20px;
}
#forgotten:hover{
    text-decoration: underline;
    color: black;
}
#s-t{
    color: blue;
    
}
#s-t:hover{
text-decoration: underline;
color: black;
}
/*=======================Responiveness===========================*/
@media screen and (min-width:320px) and (max-width:430px)
 {
    body{
        justify-items: center;
     
    }
    .login-form{
        display: flex;
        flex-direction: column-reverse;
    }
    .login-head{
        text-align: center;
    }
    .login-flex1{
        
        text-align: center;
        padding-left: 80px;
        padding: 50px;
        display: block;
    } 
    #m-inj{
        width: 100%;
        height: 50vh;
        border-start-end-radius: 50%;
    } 
 
    input{
        width: 100%;
        border-radius: 10px;
    }
  
}

/*=============TABLET SCREENS=====================*/
@media screen  and  (min-width:768px) and (max-width:820px) {
    .login-form{
        display: flex;
        justify-content: space-evenly;
        
    }
    .login-h2{
        margin-bottom: 20px;
    }
    .login-p{
        margin-bottom: 30px;
    }
    .login-flex1{
        text-align: center;
        padding:20px ;
        margin: 10px;
    }
    #login-f{
        display: flex;
        flex-direction: column;
    }
    #username{
        width: 40vw;
    }
    #sign{
        margin-top: 60px;
        display: flex;
        gap: 35px;
    }
    #m-inj{
        width: 55vw;
        height: 50vh;
        align-self:end;
    }
}