*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}



li{
    list-style: none;
}
a{
    color: #111;
    text-decoration: none;
}

body{
    background-color:#ffffffab;
}

header{
   width: 100%;
   border-bottom: 1px solid #ccc;
   padding-left: 20px;
   height: fit-content;
   /* position: sticky;
   top: 0;
   z-index: 1000; */
   .brand-name{
    -webkit-text-stroke: 2px  #000;
-webkit-text-fill-color: #fff;
text-shadow: 4px 5px 5px black;
font-size: 3em;
font-family: Arial, sans-serif;
font-weight: 900;
text-align: center;
   }

   #search{
    display: flex;
    max-width: 300px;
  height: fit-content;
  padding: 10px 25px ;
  border: 1px solid #ccc;
  border-radius: 9px;
  font-size: 16px;
  margin-bottom: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="grey"><path d="M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z"></path></svg>');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 10px center;
  transition: 0.6s ease-in-out;
   }

   .s-bag{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
   }
   
  
}
#search:focus-within{
  flex-grow: 1;
}
.General-list{
    background: #fff;
    position: fixed;
    top: 0.5rem;
    right: 100%;
    width: calc(95% - 3rem);
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease; 
    align-items: center;

    a:hover{
      color:grey;
  }

    .svg{
        display: inline-flex;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
    }
  }

  .General-list.active {
    left: 1rem;
    right: 1rem;
  }

  .General-list{
    margin: 5px 0;
  }

  .menu-bar {
    display: block;
    cursor: pointer;
   margin-right: -50px;
    margin-top: -70px;
    /* position: sticky; */
    top: 40px;
    z-index: 1000;
  }

  /* menu-bar animation */

  /* make the 2nd bar invisible */
  .menu-bar.active .bar:nth-child(2) {
    opacity:0 ;
    transition: 0.9s ease;
  }
  /* rotate 1st bar */
  .menu-bar.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  /* rotate 3rd bar */
  .menu-bar.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .bar {
    display: block;
    width: 35px;
    height: 3px;
    background: #222;
    margin: 5px auto;
    border-radius: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .slider-wrapper{
   margin: 12px 2px;

  }
  .slide-content{
    background-color: #000;
    display: flex;
    border-radius: 10px;
    padding: 20px;
    width: 98vw;
  }

  .slides-pic{
   display: none;
  }
  .Home-page-parent-container{
    display: flex;
    flex-direction:row;
    flex-direction: row-reverse;
    justify-content: space-between;
    top: 1px;
   
  }

  .searcher{
    margin: 30px;

  .p-searcher{
    width:30%;
    height: fit-content;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    background-image:  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="grey"><path d="M11 2C15.968 2 20 6.032 20 11C20 15.968 15.968 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2ZM11 18C14.8675 18 18 14.8675 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18ZM19.4853 18.0711L22.3137 20.8995L20.8995 22.3137L18.0711 19.4853L19.4853 18.0711Z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position:  right  10px center;
   }
#p-searcher{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 20px;
  }

  }
.Jordan{
  width: 100%;
  border-radius: 10px; 
}
.products-showcase {
  display: grid;
  flex-wrap: wrap;
  justify-items:center;
  gap: 20px;
  margin-right: 35px;

 
 }
 .products{ 
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  padding: 15px;

}

footer{
  background-color: teal;
  text-align: center;
  color: #fff;
padding: 70px 30px;
line-height: 50px;

  #f-search{
    border: 2px solid #000;
    text-align: center;
    padding: 5px;
   background-repeat: no-repeat;
   background-position:   right 10px center ;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="20" fill="currentColor"><path d="M4.96488 5.09625L8.5107 17.5066L11.5514 11.4253L17.188 9.17062L4.96488 5.09625ZM2.89945 2.29958L21.7052 8.56818C21.9672 8.6555 22.1088 8.93866 22.0215 9.20063C21.975 9.34016 21.8694 9.45214 21.7328 9.50676L13.0002 12.9998L8.57501 21.8501C8.45151 22.0971 8.15118 22.1972 7.90419 22.0737C7.77883 22.011 7.68553 21.8986 7.64703 21.7639L2.26058 2.91129C2.18472 2.64577 2.33846 2.36903 2.60398 2.29316C2.70087 2.26548 2.80386 2.26772 2.89945 2.29958Z"></path></svg>');
  }
#f-search:invalid{
border: 2px solid red;
}
#f-search:valid{
  border: 2px solid green;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="currentColor"><path d="M12 1L20.2169 2.82598C20.6745 2.92766 21 3.33347 21 3.80217V13.7889C21 15.795 19.9974 17.6684 18.3282 18.7812L12 23L5.6718 18.7812C4.00261 17.6684 3 15.795 3 13.7889V3.80217C3 3.33347 3.32553 2.92766 3.78307 2.82598L12 1ZM16.4524 8.22183L11.5019 13.1709L8.67421 10.3431L7.25999 11.7574L11.5026 16L17.8666 9.63604L16.4524 8.22183Z"></path></svg>');
  background-repeat: no-repeat;
  background-position:  right 10px center;
}
input-security:red ;
 
}





/*==============================    REPONSIVENESS   =====================================*/

@media screen and (min-width:820px) {

    header{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        padding: 30px 90px ;
        border-bottom: 1px solid #ccc;
        text-align: center;
        height: 20vh;
        row-gap:150px;
    }
   
   .head-cover{
    display: flex;
    flex-direction: row;
   padding: 20px 0px; 
   }
   .s-bag{
    display: flex;
    flex-direction: row;
   row-gap: 30px;
   margin: 3px 60px;    
}

.s-icons{
display: inline-flex;
justify-self: end;
margin-right: 180px;
position: absolute;
right: 29px;
display: flex ;padding-top: -60px;
margin: 20px 30px;
align-items: baseline;
}

.menu-bar{
    visibility: hidden;
    display: none;
}
.General-list{
    background: #fff;
    position: static;
    top: 0px;
    left:0px;
    width: fit-content;
    text-align: start;
    padding: 3rem 0;
    border-radius: 0px;
    box-shadow: none;
    border-right: 1px solid grey;

    .flex{
      padding:0px 20px;
    }

   #E-com{
      margin: 0px 20px;
    }
}
.scrollable-section {
  width: 300px;
  height: 200px;
  overflow-y: scroll; /* Enables scrolling */
  border: 2px solid black;
  padding: 10px;
}
.slide-content{
  width: 69.5vw;
}

.slides-pic{
  display: block;
  width: 19vw;
  transform: translateY(2px) rotate(-45deg);
}
.products-showcase{
  grid-template-columns: repeat(3, 1fr);
.home{
  display: flex;
  flex-direction: row;
  margin: 50px;
}
}
footer{
  display: grid;
  grid-template-columns:repeat(5,1fr) ;
}
}







/* Responsive Styles for Tablet Screens */
@media screen and (min-width: 768px) and (max-width:1004px)
   {
     .products-showcase {
        grid-template-columns: repeat(2, 1fr);
      }
      footer{
        grid-template-columns: repeat(2,1fr);
      }
     }
